

<form asp-controller="Search"asp-action="Search" method="get" class="float-left header-search">
    <div class="form-group mb-0 icon-input">
        <i class="feather-search font-sm text-grey-400"></i>
        <input type="text" name="searchValue" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
        <button type="submit" class="btn btn-primary"><i class="feather-search position-relative top-0 start-0  text-grey-400"></i></button>
    </div>
    
</form>
